@import '../../styles/colors.scss';

.buttons {
  margin: 16px 0 0 0;
}

.form {
  animation-name: modalFade;
  animation-duration: 0.5s;
  border-radius: 16px;
  background-color: white;
  padding: 24px;
  width: 80vw;
}

.input {
  background-color: $shade1;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 36px;
  outline: none;
  padding-left: 8px;
  margin-top: 4px;
  width: 70%;
}

.input:focus {
  border: 1px solid black;
}

.group {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  margin: 8px 0;
  text-align: left;
}

.section {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  margin-top: 16px;
}

.label {
  padding-right: 4px;
}

.modal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.multiChoice {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.question {
  border-bottom: 1px dashed lightgray;
  padding-bottom: 4px;
}

.questionText {
  text-align: right;
}

.title {
  font-size: 24px;
  margin: 16px;
}

@keyframes modalFade {
  from {
    transform: translateY(75%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .form {
    width: 70vw;
  }
}

@media only screen and (min-width: 960px) {
  .form {
    width: 60vw;
  }
}