.select {

  &__wrapper {
    position: relative;
  }
  &__btn {
    height: 56px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #575a65;
    padding: 0.25rem 1rem;
    text-transform: capitalize;
  }
  &__dropdown {
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.03);
    overflow-y: auto;
    max-height: 200px;
    z-index: 1000;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.875rem;
    text-transform: capitalize;
    &:hover {
      background: #f5f5f4;
    }
    &.active {
      color: #363740;
      background: #f2f2f2;
    }
  }
}
