.buttonGroup {
	animation-name: buttonSlide;
	animation-duration: 0.25s;
	min-width: 148px;
}

.modal {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.noQuestions {
	margin: 16px 0;
	font-size: 20px;
}

.question {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500;
	align-items: center;
	width: 90%;
	min-width: 340px;
}

.questionText {
	text-align: left;
	animation-name: questionSlide;
	animation-duration: 0.25s;
}

.questions {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.trashCanIcon {
	height: 16px;
}

@keyframes questionSlide {
	from {
		transform: translateX(-50%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes buttonSlide {
	from {
		transform: translateX(50%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@media only screen and (min-width: 600px) {
	.question {
		width: 80%;
	}
}

@media only screen and (min-width: 960px) {
	.question {
		width: 60%;
	}
}
